# 1 Cargar y examinar el DataSet

In [16]:
import pandas as pd

df = pd.read_csv("USA Housing Dataset.csv")
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-09 00:00:00,3.760000e+05,3.0,2.00,1340,1384,3.0,0,0,3,1340,0,2008,0,9245-9249 Fremont Ave N,Seattle,WA 98103,USA
1,2014-05-09 00:00:00,8.000000e+05,4.0,3.25,3540,159430,2.0,0,0,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014,USA
2,2014-05-09 00:00:00,2.238888e+06,5.0,6.50,7270,130017,2.0,0,0,3,6420,850,2010,0,7070 270th Pl SE,Issaquah,WA 98029,USA
3,2014-05-09 00:00:00,3.240000e+05,3.0,2.25,998,904,2.0,0,0,3,798,200,2007,0,820 NW 95th St,Seattle,WA 98117,USA
4,2014-05-10 00:00:00,5.499000e+05,5.0,2.75,3060,7015,1.0,0,0,5,1600,1460,1979,0,10834 31st Ave SW,Seattle,WA 98146,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4136,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4137,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4138,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4139,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [17]:
# tipos de datos que contiene cada columna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4140 entries, 0 to 4139
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4140 non-null   object
 1   price          4140 non-null   float64
 2   bedrooms       4140 non-null   float64
 3   bathrooms      4140 non-null   float64
 4   sqft_living    4140 non-null   int64
 5   sqft_lot       4140 non-null   int64
 6   floors         4140 non-null   float64
 7   waterfront     4140 non-null   int64
 8   view           4140 non-null   int64
 9   condition      4140 non-null   int64
 10  sqft_above     4140 non-null   int64
 11  sqft_basement  4140 non-null   int64
 12  yr_built       4140 non-null   int64
 13  yr_renovated   4140 non-null   int64
 14  street         4140 non-null   object
 15  city           4140 non-null   object
 16  statezip       4140 non-null   object
 17  country        4140 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 582.3+ KB

# 2 AnÃ¡lisis Exploratorio de Datos (EDA)

In [34]:
# para este ejercicio se utilizarÃ¡ las columnas price, bedrooms, bathrooms, floors, street, city
df2 = df[['price','bedrooms','bathrooms','floors','street','city']]

# Validar que columnas tienen valores nulos
print(df2[df2.isnull().any(axis=1)])

Empty DataFrame
Columns: [price, bedrooms, bathrooms, floors, street, city]
Index: []

# 2.1 Estadisticas Descriptivas

In [29]:
precioMin = df2['price'].min()
precioMax = df2['price'].max()
rangoPrecio = precioMax - precioMin
PrecioPromedio = df['price'].mean().__round__(2)

# Input de los datos
print(f"El precio menor es: ${precioMin}")
print(f"El precio mayor es: ${precioMax}")
print(f"El rango de precios es: ${rangoPrecio}")
print(f"Precio Promedio: ${PrecioPromedio}")

El precio menor es: $0.0
El precio mayor es: $26590000.0
El rango de precios es: $26590000.0
Precio Promedio: $553062.88

In [46]:
# Como hay casas que contienen precio 0, se deberan eliminar
print(df2[df2['price'] == 0]) # muestra cuantos registros tienen precio == 0

dfClean = df2[df2['price'] > 0]
dfClean # Imprimiendo el DataFrame sin los precios 0

      price  bedrooms  bathrooms  floors                         street  \
3894    0.0       3.0       1.75     1.0                3911 S 328th St
3896    0.0       4.0       2.75     1.0                2120 31st Ave W
3897    0.0       6.0       2.75     1.0        12271 Marine View Dr SW
3898    0.0       5.0       3.50     2.0               21809 SE 38th Pl
3901    0.0       5.0       1.50     1.0        14901-14999 12th Ave SW
3902    0.0       4.0       4.00     2.0         1223-1237 244th Ave NE
3914    0.0       2.0       2.50     1.0             39612 254th Ave SE
3916    0.0       4.0       2.25     1.0                216 SW 183rd St
3922    0.0       5.0       4.50     2.0            6925 Oakmont Ave SE
3923    0.0       5.0       4.00     2.0                 9235 NE 5th St
3925    0.0       4.0       4.50     2.0              4140 Boulevard Pl
3926    0.0       4.0       1.50     1.0      31603 E Lake Morton Dr SE
3929    0.0       4.0       3.50     2.0              2234 167th Ave SE
3934    0.0       5.0       3.25     2.0              19055 35th Ave NE
3945    0.0       4.0       3.75     1.5               3665 50th Ave NE
3948    0.0       5.0       2.25     2.0              25437 163rd Pl SE
3951    0.0       5.0       2.25     1.0                3202 S 194th St
3952    0.0       3.0       3.00     1.0               10744 62nd Ave S
3953    0.0       4.0       3.00     2.0              32706 20th Ave SW
3960    0.0       4.0       1.00     1.0               18423 61st Pl NE
3982    0.0       1.0       1.00     1.0           1236 S Cloverdale St
3988    0.0       5.0       2.75     1.5                1013 NE 80th St
3993    0.0       3.0       1.00     1.0               2760 72nd Ave SE
3994    0.0       5.0       2.50     2.0              27622 237th Pl SE
4012    0.0       4.0       3.75     2.0                21418 SE 5th Pl
4018    0.0       5.0       2.75     1.0             13505 208th Ave NE
4019    0.0       5.0       2.00     1.0         11620-11698 57th Ave S
4020    0.0       3.0       2.50     1.0                9243 NE 20th St
4021    0.0       5.0       2.75     2.0      1301-1303 Monterey Ave NE
4027    0.0       4.0       1.00     1.5               6506 40th Ave SW
4039    0.0       5.0       3.75     2.0           101-127 247th Ave SE
4047    0.0       4.0       1.50     2.0             29656 232nd Ave SE
4049    0.0       6.0       3.00     2.0               4115 85th Ave SE
4060    0.0       4.0       2.50     1.0                 506 21st St SE
4061    0.0       4.0       1.00     1.0         12231 Occidental Ave S
4062    0.0       2.0       2.25     1.5                4921 28th Ave S
4063    0.0       3.0       4.50     2.0              7455 W Mercer Way
4068    0.0       4.0       5.00     1.0   425 E Lake Sammamish Pkwy SE
4074    0.0       3.0       2.75     1.0               16232 SE 10th St
4082    0.0       5.0       3.50     2.0                34529 SE Jay Ct
4092    0.0       4.0       2.00     2.0               4500 NE 171st St
4094    0.0       2.0       1.00     1.0         30401-30499 8th Ave SW
4095    0.0       2.0       1.50     1.0              11533 22nd Ave NE
4098    0.0       4.0       4.25     1.0               12725 8th Ave NW
4103    0.0       2.0       2.25     1.5               3428 60th Ave SW
4107    0.0       4.0       2.50     2.0               2710 95th Ave NE
4114    0.0       3.0       1.00     1.0               2533 155th Pl SE
4115    0.0       5.0       6.25     2.0                 2 Crescent Key
4128    0.0       4.0       2.25     3.0  3227-3399 Mountain View Ave N

                  city
3894       Federal Way
3896           Seattle
3897            Burien
3898          Issaquah
3901            Burien
3902         Sammamish
3914          Enumclaw
3916     Normandy Park
3922        Snoqualmie
3923          Bellevue
3925     Mercer Island
3926              Kent
3929          Bellevue
3934  Lake Forest Park
3945           Seattle
3948         Covington
3951            SeaTac
3952           Seattle
3953       Federal Way
3960           Kenmore
3982           Seattle
3988           Seattle
3993     Mercer Island
3994      Maple Valley
4012         Sammamish
4018       Woodinville
4019           Seattle
4020        Clyde Hill
4021            Renton
4027           Seattle
4039         Sammamish
4047     Black Diamond
4049     Mercer Island
4060            Auburn
4061           Seattle
4062           Seattle
4063     Mercer Island
4068         Sammamish
4074          Bellevue
4082        Snoqualmie
4092  Lake Forest Park
4094       Federal Way
4095           Seattle
4098           Seattle
4103           Seattle
4107        Clyde Hill
4114          Bellevue
4115          Bellevue
4128            Renton

,price,bedrooms,bathrooms,floors,street,city
0,3.760000e+05,3.0,2.00,3.0,9245-9249 Fremont Ave N,Seattle
1,8.000000e+05,4.0,3.25,2.0,33001 NE 24th St,Carnation
2,2.238888e+06,5.0,6.50,2.0,7070 270th Pl SE,Issaquah
3,3.240000e+05,3.0,2.25,2.0,820 NW 95th St,Seattle
4,5.499000e+05,5.0,2.75,1.0,10834 31st Ave SW,Seattle
...,...,...,...,...,...,...
4135,3.081667e+05,3.0,1.75,1.0,501 N 143rd St,Seattle
4136,5.343333e+05,3.0,2.50,2.0,14855 SE 10th Pl,Bellevue
4137,4.169042e+05,3.0,2.50,2.0,759 Ilwaco Pl NE,Renton
4138,2.034000e+05,4.0,2.00,1.0,5148 S Creston St,Seattle
4139,2.206000e+05,3.0,2.50,2.0,18717 SE 258th St,Covington

In [33]:
# Imprimiendo nuevamente los precios
precioMin = df2['price'].min()
precioMax = df2['price'].max()
rangoPrecio = precioMax - precioMin
PrecioPromedio = df['price'].mean().__round__(2)

# Input de los datos
print(f"El precio menor es: ${precioMin}")
print(f"El precio mayor es: ${precioMax}")
print(f"El rango de precios es: ${rangoPrecio}")
print(f"Precio Promedio: ${PrecioPromedio}")

El precio menor es: $7800.0
El precio mayor es: $26590000.0
El rango de precios es: $26582200.0
Precio Promedio: $553062.88

In [42]:
# Analizar caracteristicas puntuales (habitaciones, baÃ±os, pisos)
dfClean[['bedrooms','bathrooms','floors']].describe().round(0)

# Se observa que, la media de habitaciones de una casa en USA son 3, mientras que de baÃ±os
# y nÃºmero de niveles son 2

       bedrooms  bathrooms  floors
count    4091.0     4091.0  4091.0
mean        3.0        2.0     2.0
std         1.0        1.0     1.0
min         0.0        0.0     1.0
25%         3.0        2.0     1.0
50%         3.0        2.0     2.0
75%         4.0        2.0     2.0
max         8.0        7.0     4.0